/* start global rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*small screens*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/*medium screens*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/*large screens*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* start global rules*/
/*start varibiles*/
:root {
    --main-color:#2196f3;
    --main-padding:100px;
}
    .main-title {
    display: block;
    width: fit-content;
    margin: 40px auto;
    text-transform: uppercase;
    border: black solid 2px;
    padding: 2px 4px;
    border-radius: 3px;
    position: relative;
    transition:0.3s;
    z-index: 3;
}
.main-title:hover::before {
    animation: fill-before forwards linear 0.5s;
    z-index: -1;
}
.main-title:hover::after {
    animation: fill-after forwards linear 0.5s;
    z-index: -1;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}    
.main-title::before {
    content:"";
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 8px;
    height: 8px;
    background-color: var(--main-color);
    border-radius: 50%;
    left: -20px;
}
.main-title::after {
    content:"";
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 8px;
    height: 8px;
    background-color: var(--main-color);
    border-radius: 50%;
    right: -20px;
}

/*end varibiles*/
/*start header*/
.header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
}
.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .container .logo {
    font-weight: bold;
    font-size: 25px;
    color: var(--main-color);
    text-transform: uppercase;
    display: flex;
    height: 73.52px;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px) {
    .header .container .logo {
      width: 100%;
      height: 50px;  
    }
}
.header .container .main-nav {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:768px) {
    .header .container .main-nav {
        flex-wrap: nowrap;
    }
}
.header .container .main-nav > li > a {
    padding: 0 25px;
    height: 72.52px;
    display: flex;
    align-items: center;
    color: black;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
}
@media (max-width:768px) {
    .header .container .main-nav > li > a {
        padding: 10px;
        height: 40px;
        font-size: 14px;
        margin: auto;
    }
}
.header .container .main-nav > li > a::before {
    content: "";
    top: 0;
    height: 3px;
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    left: -100%;
    transition: 0.3s;
}
.header .container .main-nav > li > a:hover::before{
    left: 0;
}
.header .container .main-nav > li > a:hover {
    background-color: aqua;
}
.header .container .mega-menu {
    position:absolute;
    width: 100%;
    top: calc(100% + 30px);
    background-color: white;
    z-index: -1;
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    transition: 0.3s;
    opacity: 0;
    border-bottom: 2px solid var(--main-color);
}
.header .container:hover .mega-menu {
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 100;
}
.header .container .mega-menu .image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 500px;
}
.header .container .mega-menu .image img {
    max-width: 100%;
}
.header .container .mega-menu ul li {
    padding: 20px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #eee;
    margin-bottom: 5px;

}
.header .container .mega-menu ul li i {
    margin-right: 10px;
}
.header .container .mega-menu ul {
    color: #2196f3;
    margin-right: 20px;
    max-width: 100%;
}
@media (max-width:992px) {
    .header .container .mega-menu .image {
        display: none;
    }
    .header .container .mega-menu {
        justify-content: center;
    }
    .header .container .mega-menu ul li{
        padding: 10px;
    }
}    






/*end header*/
/*start lanidg*/
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    background-color: #ddd;
    top: -73.51px;
    width: 100%;
    z-index: -2;
    transform: skewY(-6deg);
    transform-origin: top left;
    height: 100%;
}
.landing .container .image img {
    max-width: 200px;
    border-radius: 100%;
    transform: translatey(86px);
}
.landing .container .image {
    animation: up-and-dwon 5s infinite linear;
    margin-top: 40px;
}
.landing .container .text {
    transform: translatey(141px);
    font-size: 19px;
}
@media(max-width:767px) {
    .landing .container .image {
        display: none;
    }
    .landing .container .text {
        text-align: center;
    }
}
.landing .container p {
    max-width: 500px;
    line-height: 1.7;
}
.landing .container {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 73.52px);
}
.landing a i {
    position: absolute;
    bottom: 40px;
    right: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    transition: 0.3s;
    animation: go-down 1.5s infinite linear;
    color: var(--main-color);
}
.landing a i:hover {
    color: aqua;
}
/*start animation*/
@keyframes up-and-dwon{
    0%
    ,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}
@keyframes go-down {
    0%,
    10%,
    30%,
    50%,
    70%,
    90%,
    100% {
        transform: translatey(0);
    }
    40%,
    60% {
        transform: translatey(-10px);
    }
    
}
@keyframes right-left {
    100% {
        transform: translateX(10px);
    }
}
@keyframes fill-before{
   50%{
        left: 0;
        height: 8px;
        width: 8px;
    }
    100%{
        height: 100%;
        width: 51%;
        border-radius: 0;
        left: 0;
    }
}
@keyframes fill-after{
    50%{
         right: 0;
         height: 8px;
         width: 8px;
     }
     100%{
         height: 100%;
         width: 51%;
         border-radius: 0;
         right: 0;
     }
 }
 @keyframes flashing {
    0%,40%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
 }
/*end animation*/
/*end lanidg*/
/*start articles*/
.article {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.article .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}
.article .container .box {
    border-radius: 6px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    position: relative;
    transition: 0.3s, box-shadow 0.3s;
}
.article .container .box:hover {
    box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
    transform: translateY(10px);
}
.article .container img {
    width: 100%;
    border-radius: 6px;
    max-width: 100%;
}
.article .container .content {
    padding: 20px;
}
.article .container .content h3{
    margin: 0;
}
.article .container .content p {
    line-height: 1.5;
    color: #777;
    margin: 10px 0 0;
}
.article .container .info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #eee;
}
.article .container .info a {
    color: var(--main-color);
    font-weight: bold;
    font-size: 17px;
}
.article .container .info i {
    color: var(--main-color);
}
.article .container .box:hover i {
    animation: right-left infinite 0.6s linear;
}

/*end articles*/
/*start gallery*/
.gallery {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: #d8d8d8;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.gallery .container .box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 10px;
}
.gallery .container .image{
    overflow: hidden;
    position: relative;
}
.gallery .container .image img{
    max-width: 100%;
    border-radius: 6px;
    transition: 0.3s;
}
.gallery .container .box:hover img {
    transform: rotate(5deg) scale(1.2);
}
.gallery .container .image::before{
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255 255 255 / 10%);
    position: absolute;
    opacity: 0;
    z-index: 2;
}
.gallery .container .image:hover::before {
    animation: flashing 0.7s;
}
/*end gallery*/
/*start featurs*/
.featurs{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.featurs .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.featurs .container .box {
    text-align: center;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
}
.featurs .container .image {
    position: relative;
}
.featurs .container .image img{
    max-width: 100%;
}
.featurs .container .image::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0px 116px 369px;
    border-color: transparent transparent white;
    transition: 0.3s;
}
.featurs .container .box:hover .image::after {
    border-width: 0px 369px 116px 0px;
}
.featurs .container .box .image::before{
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.featurs .container .one .image::before{
    background-color: #cc00ff2e;
}
.featurs .container .tow .image::before{
    background-color: #00ff082e;
}
.featurs .container .three .image::before{
    background-color: #ff000047;
}
.featurs .container .box h3 {
    font-size: 30px;
    position: relative;
}
.featurs .container .box h3::before {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -12px;
    width: 39px;
    left: 50%;
    transform: translateX(-50%);
}
.featurs .container .one h3::before{
    background-color: #cc00ff;
}
.featurs .container .tow h3::before{
    background-color: #00ff08;
}
.featurs .container .three h3::before{
    background-color: #ff0000;
}
.featurs .container .one a{
    color: #cc00ff;
}
.featurs .container .tow a{
    color: #00ff08;
}
.featurs .container .three a{
    color: #ff0000;
}
.featurs .container .box p {
    line-height: 2;
}
.featurs .container .box a {
    display: block;
    font-size: 18px;
    border: 2px solid;
    width: fit-content;
    margin: 65px auto;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 4px;
    transform: translateY(30px);
    transition: 0.3s;
    background-position: right bottom;
}
.featurs .container .one a {
    background: linear-gradient( to right, #cc00ff 50% ,white 50%);
    background-size: 200%;
    background-position: right bottom;
}
.featurs .container .tow a {
    background: linear-gradient( to right, #00ff08 50% ,white 50%);
    background-size: 200%;
    background-position: right bottom;
}
.featurs .container .three a {
    background: linear-gradient( to right, #ff0000 50% ,white 50%);
    background-size: 200%;
    background-position: right bottom;
}
.featurs .container .box a:hover {
    background-position: left bottom;
    color: white;
}    

/*end featurs*/
/*start testi*/
.testi {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: #eee;
}
.testi .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.testi .container .box {
    background-color: white;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
    padding: 20px;
}
.testi .container img{
    max-width: 100%;
    width: 70px;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    right: -18px;
    top: -20px;
}
.testi .container h3{
margin-top: 0;
}
.testi .container span{
    transform: translatey(-12px);
    display: block;
    color: #777;
}
.testi .container ul{
display: flex;
}
.testi .container ul li{
    margin-right: 2px;
}
.testi .container ul li:not(:last-child) {
    color: gold
}
.testi .container p {
    line-height: 1.6;
    margin-bottom: 0;
    color: #777
}
/*end testi*/
.team {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    row-gap: 80px;
    column-gap: 40px;
}
.team .container .box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 50px;
}
.team .container .box .image {
    width: calc(100% - 60px);
}
.team .container .box img {
    border-radius: 6px;
    max-width: 100%;
    transition: 0.3s;
}
.team .container .box:hover img {
    filter: grayscale(100%);
}
.team .container .box::before,
.team .container .box::after{
    content: "";
    position: absolute;
    height: 100%;
    border-radius: 6px;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}
.team .container .box::before{
    background-color: #eee;
    z-index: -2;
    width: calc(100% - 60px);
}
.team .container .box::after{
    background-color: #e4e4e4;
    z-index: -1;
    width: 0;
}
.team .container .box:hover::after{
    width: calc(100% - 60px);
}
.team .container .box ul{
    display: flex;
    flex-direction: column;
    width: 60px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #777
}
.team .container .box ul li {
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.team .container .box ul li:hover {
    color:var(--main-color);
}
.team .container .box h3 {
    padding-left: 80px;
    margin-top: 6px;
    color: var(--main-color);
    font-size: 20px;
    transition: 0.3s;
}
.team .container .box:hover h3 {
    color: #777;
}
.team .container .box span {
    display: block;
    margin-top: 20px;
    padding: 20px 0;
    transform: translateX(-48px);
    color: #777;
}
.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: #eee;
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.services .container .box {
    background-color: white;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
    position: relative;
    counter-increment: services;
    transition: 0.3s;
}
.services .container .box::before{
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    left: 50%;
    top: -3px;
    transform: translateX(-50%);
    transition: 0.3s;
}
.services .container .box:hover {
    transform: translatey(-10px);
}
.services .container .box:hover::before{
    width: 100%;
}
.services .container .box i {
    font-size: 46px;
    margin-top: 43px;
    color: #777;
    display: block;
}
.services .container .box h3 {
    color: var(--main-color);
    margin-top: 12px;
}
.services .container .box .info {
    background-color: #ededed;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 30px;
}
.services .container .box .info span{
    position: absolute;
    right: 10px;
    color: var(--main-color);
}
.services .container .box .info::after{
    content: "0"counter(services);
    position: absolute;
    width: 81px;
    background-color: var(--main-color);
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.services .container .box .info::before{
    content: "";
    width: 48px;
    height: 100%;
    background-color: #c3c3c3;
    left: 66px;
    position: absolute;
    transform: skewX(-30deg);
    z-index: 1;
}
.our-skills {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.our-skills .container {
    display: flex;
}
.our-skills .container img {
    max-width: 100%;
    width: 350px;
    margin-right: 50px;
    max-height: 100%;
    border-radius: 10px;
}
.our-skills .container .skills {
    flex: 1;
}
.our-skills .container .skills .skill {

}
.our-skills .container .skills .skill h3 {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.our-skills .container .skills .skill h3 span {
    font-size: 13px;
    color: var(--main-color);
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    padding: 1px 2px;
}
.our-skills .container .skills .skill .progres {
    background-color: #d5d5d5;
    height: 25px;
    position: relative;
}
.our-skills .container .skills .skill .progres span {
    position: absolute;
    background-color: var(--main-color);
    height: 100%;
}
@media(max-width:992px) {
    .our-skills .container {
        flex-direction: column;
    } 
    .our-skills .container img { 
    margin: 20px auto; 
    }
}
/*start works*/
.works {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #eee;
    position: relative;
}
.works .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.works .container > img {
    width: 450px;
    margin-right: 100px;
    border-radius: 10px;
    max-width: 100%;
}
.works .container .content {
    flex: 1;
}
.works .container .content .box{
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
    padding: 20px;
    position: relative;
    z-index: 3;
}
.works .container .content .box::before {
    content: "";
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ededed;
    width: 0;
    height: 0;
    transition: 0.3s;
    z-index: -1;
}
.works .container .content .box:hover::before {
    width: 100%;
    height: 100%;
}
.works .container .content .box img {
    width: 64px;
    margin: 0 27px 0 11px;
}
.works .container .content .box h3 {
    margin: 0;
    font-size: 22px;
}
.works .container .content .box p {
    line-height: 1.7;
    color: #777;
    margin: 10px 0 0;
    font-size: 18px;
}
@media(max-width:992px) {
    .works .container {
        flex-direction: column;
    } 
    .works .container > img {
    margin: 0 0 50px; 
    }
}
/*end works*/
/*start events*/
.events {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.events .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.events .container img {
    max-width: 100%;
    border-radius: 50%;
    width: 450px;
    margin-right: 60px;
}
.events .container .content {
    flex: 1;
    text-align: center;
    max-width: 100%;
}
.events .container .content .time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
}
.events .container .content .time .unit {
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    width: 75px;
    text-align: center;
    transition: 0.3s;
}
.events .container .content .time .unit span {
    display: block;
    transition: 0.3s;
}
.events .container .content .time .unit span:first-child {
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
    color: var(--main-color);
}
.events .container .content .time .unit span:last-child {
    border-top: 1px solid #d9d9d9;
    font-size: 13px;
    padding: 8px 10px;
}
.events .container .content h3 {
    font-size: 30px;
    margin: 40px 0 0;
}
.events .container .content p {
    line-height: 2;
    color: #777
}
.events .container .info {
    width: 100%;
}
.events .container .info form {
    width: 600px;
    margin: 20px auto;
    border-radius: 50px;
    background-color: #eee;
    padding: 20px;
}
.events .container .info form input[type="email"] {
    flex: 1;
    border: none;
    padding: 20px;
    width: calc(100% - 120px);
    border-radius: 50px;
}
.events .container .info form input[type="submit"] {
    width: 116px;
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    padding: 20px;
    color: white;
    font-weight: bold;
}
@media(max-width:992px) {
    .events .container img {
        display: none;
    }
    .events .container .info form {
        max-width: 100%;
    }
}
.pricing {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #eee;
    position: relative;
}
.pricing .container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap: 30px;
}
.pricing .container .box {
    box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
    position: relative;
    transition: 0.3s;
    text-align: center;
    background-color: white;
    z-index: 3;
}
.pricing .container .box::before,
.pricing .container .box::after {
    content: "";
    position: absolute;
    height: 50%;
    background-color: #eee;
    z-index: -1;
    transition: 0.3s;
    width: 0;
}
.pricing .container .box::before{
    left: 0;
    top: 0;
}
.pricing .container .box::after{
    right: 0;
    bottom: 0;
}
.pricing .container .box:hover::before,
.pricing .container .box:hover::after{
    width: 100%;
}
.pricing .container .box h3 {
    font-size: 30px;
}
.pricing .container .box i {
    font-size: 68px;
    margin: 0 auto 20px;
    color: var(--main-color);
}
.pricing .container .box .price .amount {
    display: block;
    font-weight: bold;
    font-size: 45px;
    color: var(--main-color);
}
.pricing .container .box .price .time {
    margin: 0 auto 25px;
    color: #777;
    display: block;
}
.pricing .container .box ul {

}
.pricing .container .box ul li {
    padding: 15px;
    width: fit-content;
}
.pricing .container .box ul li::before {
    font-family: "font awesome 5 free";
    content: "\f00c";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.pricing .container .box a {
    display: block;
    width: fit-content;
    margin: 30px auto;
    color: var(--main-color);
    font-weight: bold;
    border: 2px solid;
    padding: 10px 15px;
    border-radius: 6px;
}
@media(min-width:1200px) {
    .pricing .container .two {
        transform: translateY(-20px); 
}
}
.pricing .container .two .title {
    position: absolute;
    right: 20px;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-size: 21px;
    font-weight: bold;
    padding: 10px 10px 40px;
}
.pricing .container .two .title::before {
    content: "";
    content: "";
    left: 2px;
    bottom: 0;
    position: absolute;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent white;
}
.video {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.video .holder {
    display: flex;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
    background-color: #eee;
}
.video .holder .first {
    min-width: 300px;
}
.video .holder .first .head {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: var(--main-color);
}
.video .holder .first .list {
    background-color: white;
}
.video .holder .first .list ul li {
    border-bottom: 1px solid #eee;
    height: 97px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}
.video .holder .first .list ul li:hover {
    background-color: #eee;
}
.video .holder .first .list ul li span {
    display: block;
    margin-top: 15px;
    font-size: 15px;
    color: #777
}
.video .holder .second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #d5d5d5;
}
.video .holder .second img {
    max-width: 100%;
}
.video .holder .second .info {
    background-color: white;
    padding: 20px;
}
@media(max-width:992px) {
    .video .holder {
        flex-direction: column;
    }
}
.stat {
    position: relative;
    background-color: #eee;
    padding-bottom: 40px;
}
.stat .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
}
.stat h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 40px;
}
.stat .container .box {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
}
.stat .container .box i {
    font-size: 25px;
    margin-bottom: 10px;
}
.stat .container .box span:first-of-type {
    font-size: 40px;
    font-weight: bold;
}
.stat .container .box span:last-of-type {
    margin-top: 10px;
    color: var(--main-color);
}
.dis {
    display: flex;
}
@media(max-width:767px) {
    .dis {
        flex-direction: column;
    }
}
.dis .first {
    text-align: center;
    background-color: var(--main-color);
    flex-basis: 50%;
    padding: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.dis .first h3 {
    margin: 0;
    font-size: 30px;
    color: white;
}
.dis .first p {
    max-width: 400px;
    line-height: 1.5;
    color: #eee
}
.dis .first img {
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
}
.dis .second {
    flex-basis: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dis .second form {
    width: 200px;
}
.dis .second .main {
    display: block;
    border: navajowhite;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    width: 100%;
}
.dis .second .main::placeholder {
    font-size: 14px;
}
.dis .second h3 {
    font-size: 30px;
}
.dis .second input[type="submit"] {
    width: 100%;
    border: navajowhite;
    color: white;
    font-weight: bold;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 6px;
}
.footer {
    background-color: black;
    padding: 50px 0 0;
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
}
.footer .container .box-one h2 {
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin: 0 0 20px
}
.footer .container .box-one ul {
    display: flex
}
.footer .container .box-one ul li a{
    background-color: #181818;
    margin-right: 5px;
    font-size: 20px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #b9b9b9;
    transition: 0.3s;
}
.footer .container .box-one ul li .face:hover {
background-color: #1877f2;
}
.footer .container .box-one ul li .twit:hover {
    background-color:#1da1f2 ;
}
.footer .container .box-one ul li .you:hover {
    background-color:#ff0000 ;
}
.footer .container .box-one p {
    line-height: 1.6;
    color: #777;
}
.footer .container .box-two ul li a {
    color: #eee;
    display: block;
    padding: 18px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;
}
.footer .container .box-two ul li a:hover {
    color: var(--main-color);
}
.footer .container .box-two ul li a::before {
    font-family: 'Font Awesome 6 Free';
    content: "\f061";
    font-weight: 900;
    color: var(--main-color);
    margin-right: 10px;
}
.footer .container .box-three .line {
    display: flex;
    color: #eee;
    padding: 20px;
}
.footer .container .box-three .line i{
    margin-right: 15px;
    display: flex;
    align-items: center;
    color: var(--main-color);
}
.footer .container .box-three .line p {
    color: #777;
}
.footer .container .box-three .line span {
    margin-bottom: 5px;
    display: block;
    color: #777;
}
.footer .box-four {
    width: 203px;
    margin: auto;
}
.footer img {
    border-style: none;
    width: 65px;
    height: 65px;
    border: 2px solid #ccc;
}
.footer .end {
    padding: 10px;
    color: white;
    font-size: 14px;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid #373737;
}
@media(max-width:767px) {
    .footer .container {
        text-align: center;
    }
    .footer .container .box-one ul {
        justify-content: center;
    }
    .footer .container .box-three .line {
        justify-content: center;
        padding: 5px;
    }
}


